// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.share {
  //width: 270px;
  display: inline-block;
  width: 250px;;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  padding: 10px;
  background: #ecf0f1;
}

.share b {
  //font-weight: normal;
  //color: #7f8c8d;
}

.social {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: #bdc3c7;
  vertical-align: middle;
  background-size: cover;
  border-radius: 5px;
  margin-top: 10px;
}

.social:last-child{
  margin-right: 0px;
}

.social-vk {
  background: url("social.png") no-repeat -40px 0;
  background-size: cover;
}

.social-fb {
  background: url("social.png") no-repeat 0 0;
  background-size: cover;
}

.social-gp {
  background: url("social.png") no-repeat -120px 0;
  background-size: cover;
}

.row-centered {
  text-align:center;
}

.col-centered {
  width: auto;
  display: inline-block;
  float: none;
  margin-right: 10px;
  margin-left: 10px;
  //margin-left: auto;
  //margin-rigth: auto;
}



.thumbnail-col {
  //height: 300px !important;
  width: 220px !important;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  vertical-align: top;
}


.image_container {
  height: 133px;
  width: 200px;
  display: inline-block;
  position: relative;

  img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.pagination {
  margin-bottom: 5px;
}

.caption {
  padding: 0 !important;
  p {
    margin-top: 10px;
    margin-bottom: 0px;
  }
}

.like {
  width: 100px;
  height: 30px;
  margin: 0;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  a {
    display: inline-block;
    width: 30px;
  }
  .count {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: top;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
  }
  img {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 0 !important;
  }
}


.img-centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.background {
  background: url("back.png") fixed no-repeat;
  background-size: cover;
}

#main {
  padding-bottom: 20px;
  min-height: 700px;
}

.upload {
  width: 350px;
  margin: 0 auto;
}

#image_container {
  margin-top: 30px;
}

#btn-comment {
  width: 200px;
  margin: 0;
  margin-left: 10px;
}

textarea#comment_input {
  height: 35px;
  min-height: 35px;
  margin-bottom: 10px;
  margin: 0 !important;
  width: 500px;
}

.replies {
  margin-top: 15px;
  margin-left: 50px;
}

#reply {
  width: 50px;
}

.media a {
  color: black;
}

.profile_header {
  font-size: 1.2em;
  font-weight: bold;
}

.profile_data {
  font-size: 1.2em;
}

.alert {
  margin-top: 10px;
  margin-bottom: 0px;
}

.rating {
  margin-top: 25px;
  line-height: 2;
  color: ForestGreen;
}