// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.share {
  //width: 270px;
  display: inline-block;
  width: 250px;;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  padding: 10px;
  background: #ecf0f1;
}

.share b {
  //font-weight: normal;
  //color: #7f8c8d;
}

.social {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: #bdc3c7;
  vertical-align: middle;
  background-size: cover;
  border-radius: 5px;
  margin-top: 10px;
}

.social:last-child{
  margin-right: 0px;
}

.social-vk {
  background: url("social.png") no-repeat -40px 0;
  background-size: cover;
}

.social-fb {
  background: url("social.png") no-repeat 0 0;
  background-size: cover;
}

.social-gp {
  background: url("social.png") no-repeat -120px 0;
  background-size: cover;
}

.row-centered {
  text-align:center;
}

.col-centered {
  width: auto;
  display: inline-block;
  float: none;
  margin-right: 10px;
  margin-left: 10px;
  //margin-left: auto;
  //margin-rigth: auto;
}



.thumbnail-col {
  height: 300px !important;
  width: 220px !important;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  vertical-align: top;
}


.image_container {
  height: 200px;
  width: 200px;
  display: inline-block;
  position: relative;

  img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}



.img-centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}