@import "bootstrap-sprockets";
@import "bootstrap";

/* общие */
body {
  padding-top: 50px !important;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 4em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  color: #dcf1a8;
  text-shadow: darkgreen 1px 1px 3px,
  darkgreen -1px -1px 3px,
  darkgreen -1px 1px 3px,
  darkgreen 1px -1px 3px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  color: darkgreen;

  &:hover {
    color: darkgreen;
  }
}

.dropdown-menu {
  width: 100%;
  text-align: right;
}

.navbar {
  margin-bottom: 0 !important;
}

/* footer */
footer {
  padding-top: 5px;
  border-top: 1px solid lightgray;
  color: LightGray;
  a {
    color: gray;
    &:hover {
      color: DarkGray;
    }
  }
  small {
    float: left;
  }
  ul {
    padding: 5px !important;
    margin-top: 5px;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }

    li:nth-child(1) {
      margin-left: 0;
    }
  }
}

/* формы */
input, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

textarea {
  min-height: 100px;
  background: white !important;
}

#error_explanation {
  color: crimson;
  ul {
    color: crimson;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 25px;
  }
}

#user_session_remember_me {
  width: auto;
  margin-left: 0;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

.row-centered {
  text-align: center;
}

.col-centered {
  width: auto;
  display: inline-block;
  float: none;
  margin-right: 10px;
  margin-left: 10px;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.thumbnail-col {
  width: 220px !important;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  vertical-align: top;
}

.thumbnail-show {
  display: inline-block;
  background: white;
  padding: 4px;
  margin: 10px auto;
  border: 1px solid #ddd;
  border-radius: 4px;

  > img {
    margin: 0;
    max-width: none;
    width: 100%;
    border: 1px lightgrey solid;
    border-radius: 3px;
  }
}


.caption {
  position: relative;
}
// show page
.caption-content {
  display: inline-block;
  height: 30px;
  text-align: center;
  color: green;

  img {
    width: 25px;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.caption-content.left {
  padding: 5px;
  float: left;
}

.caption-content.right {
  padding: 5px;
  float: right;
}

.caption-content.center {
  padding: 2px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
}


.image_container {
  height: 133px;
  width: 200px;
  display: inline-block;
  position: relative;

  img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#image_container {
  margin-top: 30px;
}


.caption {
  padding: 0 !important;
  p {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.like {
  width: 100px;
  height: 30px;
  margin: 0;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  a {
    display: inline-block;
    width: 30px;
  }
  .count {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: top;
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
  }
  img {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 0 !important;
  }
}


.img-centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.background {
  background: url("back.png") fixed no-repeat;
  background-size: cover;
}

#main {
  padding-bottom: 20px;
  min-height: 700px;
}

.upload {
  width: 350px;
  margin: 10px auto;
}

#btn-comment {
  width: 200px;
  margin: 0 0 0 10px;
}

textarea#comment_input {
  height: 35px;
  min-height: 35px;
  margin: 0 !important;
  width: 500px;
}

.replies {
  margin-top: 15px;
  margin-left: 50px;
}

//#reply {
//  width: 50px;
//}

//.media a {
//  color: black;
//}

.profile_header {
  font-size: 1.2em;
  font-weight: bold;
}

.profile_data {
  font-size: 1.2em;
}

.alert {
  margin-top: 10px;
  margin-bottom: 0;
}

.rating {
  margin-top: 25px;
  line-height: 2;
  color: ForestGreen;
}

.reply_link {
  color:green;
  font-style: italic;
  font-size: 0.8em;
  cursor: alias
}

li.media.panel {
  padding: 5px;
}

.media-body {
  p {
    margin-left: 10px;
  }
}