footer.footer
  .container
    .row
      nav
        ul.pull-right
          li
            = link_to "About", 'https://github.com/Eeeeevgen/Promo', target: :_blank
          li
            = link_to "Contact", 'mailto: kozlov.evg.a@gmail.com'
